# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Reports
allure-results/
allure-report/
reports/screenshots/
reports/output.json
reports/step_results.json

# IDE
.idea/

# Logs
logs/
*.log