# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Allure Reports
allure-results/
allure-report/

# Custom Reports
reports/

# Logs
logs/
*.log

# Temporary Files
temp_test.py

# OS Files
.DS_Store
Thumbs.db